<!DOCTYPE html>
<html lang="en">
    <head>
        <title>eleme</title>
        <meta charset="utf-8">
    </head>
    <body>
        <div id="app">
        </div>
        <!-- inject:manifest -->
        <!-- endinject -->
        <script src="https://cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
    </body>
</html>